$green: #00a82d;
$light-green: #00cc36;
$dark-green: #008f26;
$lightest-green: #00cc3627;
$white: #fff;
$light-grey: #f8f8f8;
$medium-grey:  rgb(243, 243, 243);
$hover-grey: #f2f2f2;
$semi-grey: #D9D9D9;
$grey: #a6a6a6;
$dark-grey: #737373;
$darker-grey: #333;
$red: #e54e40;