$en-title-serif: "Soleil_Medium",Helvetica,Arial,sans-serif;
$en-serif: "Soleil",Helvetica,Arial,sans-serif;
$en-bold-serif: "Soleil_Bold",Helvetica,Arial,sans-serif;
$apple-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;