// body {
// 	width: 70%;
// 	margin: 0 auto;
// }

button {
  background-color: $green;
  color: $white;
  // padding: 10px 30px;
  font-family: $en-bold-serif;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1.5px;
  transition: .3s background-color ease-in-out;
}

button:hover {
  background-color: $light-green;
}

a {
  font-family: $en-serif;
  transition: .2s color ease-in-out;
}

a:hover {
  color: $green;
}

h1, h4 {
  font-family: $en-serif;
  font-weight: 600;
}

h5 {
  font-family: $en-serif;
}

p {
  font-family: $en-serif;
}

i {
  margin: 0px 6px 0px 2px;
}