.hidden {
  display: none;
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: $white;
  padding: 10px 15px 10px 10px;
  width: 180px;
  border-radius: 3px;
  box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
    border:0;
}

.dropdown li > button {
  background-color: transparent;
  color: black;
  text-align: left;
  width: 100%;
  padding: 0 0 0 5px;
  margin-right: 15px;
}

.dropdown li > button:hover {
  background-color: $hover-grey;
}

.actions-dropdown-button {
  background: transparent;
  color: $grey;
}

.actions-dropdown-button:hover {
  background: transparent;
  color: $darker-grey;
}

.dropdown-anchor {
  position: relative; 
  text-align: end;
  padding-right: 5px;
}

.actions-dropdown {
  right: 10px;
  top: 30px
}

.actions-dropdown > li {
  background-color: $white;
}

.notebook-index-notes-list-container {
  width: 100%;
  height: 100%;
  align-items: center;
}

.notebook-index-notes-list-item {
  line-height: 35px;;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(190px, 2fr) repeat(2, minmax(80px, 300px)) 1fr; 
  align-items: center;
}

.notebook-index-notes-item-name {
  padding-left: 40px;
}

.notebook-index-note-list {
  width: 100%;
  // list-style: none;
}

.notebook-index-note-list {
  padding-right: 10px;
}

.fa-caret-right {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.fa-caret-right.open {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}
