.hidden {
  display: none;
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: $white;
  padding: 10px 15px 10px 10px;
  width: 180px;
  border-radius: 3px;
  box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
    border:0;
}

.dropdown li > button {
  background-color: transparent;
  color: black;
  text-align: left;
  width: 100%;
  padding: 0 0 0 5px;
  margin-right: 15px;
}

.dropdown li > button:hover {
  background-color: $medium-grey;
}

.actions-dropdown-button {
  background: transparent;
}

.actions-dropdown-button:hover {
  background: transparent;
}

.fas.fa-ellipsis-h {
  color: $grey;
}

.fas.fa-ellipsis-h:hover {
  color: $darker-grey;
}

.notebook-actions-dropdown {
  position: relative; 
}

.actions-dropdown {
  right: 0;
  top: 30px
}

.actions-dropdown > li {
  background-color: $white;
}