.home-content {
  padding-top: 60px;
  margin: auto;
}

.home-content-header > h1 {
  font-size: 56px;
  line-height: 70px;
  padding: 0 0 10px;
}

.home-content-header > h5 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  padding-bottom: 20px;
}

.home-content-body {
  display: flex;
  align-items: center;
}

.home-content-header {
  padding: 0 0 80px;
  text-align: -webkit-center;
}

.home-content-header button {
  font-size: 16px;
  padding: 16px 80px;
  display: block;
}

.login-alt-cta {
  text-decoration: underline;
}

.hero-image-container {
  float: left;
  height: auto;
  max-width: 100%;
  width: auto;
}

.home-content-sidebar {
  float: right;
  min-width: 240px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.home-content-sidebar div {
  padding: 0 0 20px;
}

h4 {
  padding: 0 0 10px;
  font-size: 18px;
}

p {
  font-size: 16px;
}

.home-content-header a {
  font-size: 18px;
}