.home-nav-container {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.home-nav-logo {
  display: block;
  width: 177px;
  height: 40px;
}

.home-nav-bottoms {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.home-nav-bottoms > button {
  border: 1px solid $green;
  background-color: $white;
  color: $green;
}