// .home-content {

// }

h1 {
  font-size: 56px;
  line-height: 70px;
}

h5 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  padding-bottom: 20px;
}

.home-content-body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.content-header {
  display: block;
}

.content-header button {
  font-size: 16px;
  padding: 16px 80px;
}

.content-sidebar div {
  padding: 0 0 20px;
}

h4 {
  padding: 0 0 10px;
  font-size: 18px;
}

p {
  font-size: 16px;
}