.home-nav-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
}

.home-nav-logo {
  display: block;
  width: 177px;
  height: 40px;
}

.home-nav-buttons {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}

.home-nav-bottoms > button {
  border: 1px solid $green;
  background-color: $white;
  color: $green;
}