.home-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
}

.home-nav-logo {
  display: block;
  width: 177px;
  height: 40px;
  
}

.home-nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-nav-demo > button {
  border: 1px solid $green;
  background-color: $white;
  color: $green;
}

.home-nav-bottoms > p {
  padding-right: 10px;
}

.home-nav-login {
  padding-right: 20px;
}


// .fa-github:before {
//   content: "\f09b";
// }

// .fa-linkedin-in:before {
//   content: "\f08c"; 
// }

// .fa-angellist:before {
//   content: "\f209";
// }