.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  .modal-content {
    background-color: $white;
    padding: 40px;
    border-radius: 3px;
    box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
      border:0;

    .modal-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
    }
  }

  .close-modal {
    // height: 30px;
    // width: 30px;
    padding: 0;
    color: $dark-grey;
    background-color: transparent;
    transition: .2s color ease-in-out;
    transform: scale(1.4, 1.4);
    font-weight: 300;
  }

  .close-modal:hover {
    color: black;
    background-color: transparent;

}

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid $light-grey;
    border-radius: 7px;
    font-family: $apple-font;
    font-weight: 300;
    text-align: start;
    transition: .1s border ease-in-out;
  }

  input:focus {
    border: 1px solid rgb(113, 113, 196);
  }

  .input-label {
    font-family: $apple-font;
    font-size: 12px;
    color: $dark-grey;
    margin: 0 0 5px;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $light-grey;

    .cancel-button {
      background-color: $white;
      color: $dark-grey;
      border: 1px solid $dark-grey;
      transition: .1s background-color ease-in-out;
    }

    .cancel-button:hover {
      background-color: $light-grey;
    }
  }

  button {
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    margin-left: 10px;
  }

  p {
    padding-bottom: 20px;
    color: $dark-grey;
  }


}