.notebook-index-container {
  grid-column: 2 / -1;

  display: grid;
  grid-template-rows: 80px 45px 50px 1fr;
  grid-template-columns: minmax(190px, 2fr) repeat(2, minmax(80px, 300px)) 1fr; 
  align-items: center;

  padding: 10px 35px;
  overflow: auto;

  font-family: $apple-font;

  .notebook-index-header {
    grid-row: 1 / 2;
    font-size: 20px;
  }

  .notebook-index-header-2 {
    grid-row: 2 / 3;
    font-size: 15px;
  }

  .new-notebook {
    grid-column-end: -1;
    grid-row: 2;
    justify-self: end;
  }

  .new-notebook > button {
    background-color: transparent;
    color: $green;
    letter-spacing: normal;
    transition: .2s color ease-in-out;
  }

  .new-notebook > button:hover {
    color: $dark-green;
  }

  .notebook-index-col-header {
    grid-row: 3 / 4;
    color: $grey;
    border-top: 2px solid $dark-grey;
    padding: 10px 0;
    font-size: 12px;
    background-color: rgb(243, 243, 243);
  }

  .notebook-index-col-header.action {
    text-align: end;
    padding-right: 10px;
  }

  .notebooks-list {
    grid-row: 4;
    grid-column: 1 / -1;
    align-self: start;
  }

  .notebooks-list {
    grid-row: 4;
    grid-column: 1 / -1;
    align-self: start;
    margin-top: -5px
  }

  .notebooks-list > ul > li {
    font-size: 14px;
    color: #313131;
    background-color: #fff;
  }

  .notebooks-list > ul > li:nth-of-type(even) {
    background-color: $medium-grey;
  }

  .notebook-item-text {
    display: grid;
    grid-template-columns: minmax(190px, 2fr) repeat(2, minmax(80px, 300px)) 1fr;
    line-height: 35px;
  }

  .notebook-actions-dropdown {
    text-align: end;
    padding-right: 10px;
  }
  
}

.notebook-name {
  padding-left: 10px;
}

.notebook-name > button {
  background-color: transparent;
  color: #313131;
}

.notebook-name h5 {
  padding-left: 10px;
}

.notebooks-list > ul > li:hover {
  background-color: $hover-grey;
}

 .notebooks-list > ul > li:nth-of-type(even):hover {
    background-color: $hover-grey;
  }