body {
  // background-color: $light-grey;
  background-color: #EBF8F0;
}

.session-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-session-form {
  background-color: $white;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  width: 314px;
  margin-bottom: 40px;
  text-align: center;
  box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
    border:0;
  // box-shadow: 0px 4px 24px rgb(0, 0, 0, 00.1rem);
  border-radius: 3px;

  h1 {
    font-size: 56px;
    line-height: 70px;
    font-family: serif;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    font-family: $apple-font;
    font-weight: 400;
    text-align: start;
    transition: .1s border ease-in-out;
  }

  input:focus {
    border: 1px solid $lightest-green;
  }

  p {
    font-family: $apple-font;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .form-submit-container {
    padding-top: 10px;
  }

  .form-submit {
    padding: 14px 0;
    display: block;
    width: 100%;
  }

  .form-submit:hover {
    background-color: $dark-green;
  }
}

.form-alt {
  font-family: $apple-font;
  font-weight: 400;
  color: $dark-grey;
  margin-top: 37px;

  .form-alt-text {
    font-size: 14px;
  }

  .form-alt-link {
    color: $green;
    padding: 8px;
  }

  p {
    color: $dark-grey;
    padding: 8px 0;
  }

}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ababab;
  font-size: 14px;
  font-family: $apple-font;
  width: 100%;
  margin-bottom: 18px;
  margin-top: 17px;
}

.line > div {
  padding: 3px;
}

.line::before, .line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #d4d3d3;
}

#session-demo > button {
  width: 100%;
  border: 1px solid #e6e6e6;
  max-width: 280px;
  padding: 11px 16px;
  border-radius: 7px;
  align-self: center;
  font-size: 15px;
  color: #6a6a6a;
  text-align: center;
  cursor: pointer;
  background-color: $white;
}

#session-demo > button:hover {
  background-color: $hover-grey;
}