/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
html, body, header, nav, h1, h3, h4, h5, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ol, ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button, section, a,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: '';
  display: block;
  clear: both; }

button {
  background-color: #00a82d;
  color: #fff;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1.5px;
  transition: .3s background-color ease-in-out; }

button:hover {
  background-color: #00cc36; }

a {
  font-family: "Soleil", Helvetica, Arial, sans-serif; }

a:hover {
  color: #00a82d;
  transition: .3s background-color ease-in-out; }

h1, h4 {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  font-weight: 600; }

h5 {
  font-family: "Soleil", Helvetica, Arial, sans-serif; }

p {
  font-family: "Soleil", Helvetica, Arial, sans-serif; }

.home-content {
  padding: 60px 40px 0;
  margin: auto;
  width: 60%;
  margin: 0 auto; }

.home-content-header > h1 {
  font-size: 56px;
  line-height: 70px;
  padding: 0 0 10px; }

.home-content-header > h5 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  padding-bottom: 20px; }

.home-content-body {
  display: flex;
  align-items: center; }

.home-content-header {
  padding: 0 0 80px;
  text-align: -webkit-center; }

.home-content-header button {
  font-size: 16px;
  padding: 16px 80px;
  display: block; }

.main-cta {
  padding-bottom: 10px; }

.login-alt-cta {
  text-decoration: underline; }

.hero-image-container {
  float: left;
  height: auto;
  max-width: 100%;
  width: auto; }

.home-content-sidebar {
  float: right;
  min-width: 240px; }

.home-content-sidebar div {
  padding: 0 0 20px; }

h4 {
  padding: 0 0 10px;
  font-size: 18px; }

p {
  font-size: 16px; }

.home-content-header a {
  font-size: 18px; }

.home-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  width: 60%;
  margin: 0 auto; }

.home-nav-logo {
  display: block;
  width: 175px;
  height: 40px; }

.home-nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between; }

#home-nav-demo > button {
  border: 2px solid #00a82d;
  background-color: #fff;
  color: #00a82d;
  font-size: 14px;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 30px;
  text-align: center;
  letter-spacing: 1.5px;
  transition: .3s background-color ease-in-out; }

#home-nav-demo > button:hover {
  color: #00cc36;
  border-color: #00cc36; }

.home-nav-bottoms > p {
  padding-right: 10px; }

.home-nav-login {
  padding-right: 20px; }

body {
  background-color: #f8f8f8; }

.session-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-session-form {
  background-color: #fff;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  width: 314px;
  margin-bottom: 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
  border: 0;
  border-radius: 3px; }
  .main-session-form h1 {
    font-size: 56px;
    line-height: 70px; }
  .main-session-form .session-errors {
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px; }
  .main-session-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f8f8f8;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    text-align: start; }
  .main-session-form input:focus {
    border: 3px solid #00cc3627; }
  .main-session-form p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding-bottom: 10px; }
  .main-session-form .form-submit-container {
    padding-top: 10px; }
  .main-session-form .form-submit {
    padding: 14px 0;
    display: block;
    width: 100%; }

.form-alt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #737373;
  padding-top: 20px; }
  .form-alt .form-alt-text {
    padding-bottom: 5px; }
  .form-alt p {
    color: #737373;
    padding: 10px 0; }

#session-demo > button {
  border: 2px solid #00a82d;
  background-color: #fff;
  color: #00a82d;
  font-size: 14px;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 30px;
  text-align: center;
  letter-spacing: 1.5px;
  transition: .3s background-color ease-in-out; }

#session-demo > button:hover {
  color: #00cc36;
  border-color: #00cc36; }

.not-found {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .not-found h1 {
    font-size: 70px;
    font-weight: bolder; }
  .not-found a {
    font-size: 40px; }

/*# sourceMappingURL=application.css.map */
