/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
html, body, header, nav, h1, h3, h4, h5, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ol, ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button, section, a,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: '';
  display: block;
  clear: both; }

#root {
  background-color: white; }

button {
  background-color: #00a82d;
  color: #fff;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  text-align: center;
  transition: .2s background-color ease-in-out; }

button:hover {
  background-color: #00cc36; }

a {
  transition: .1s color ease-in-out; }

a:hover {
  color: #00a82d; }

h1, h4 {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  font-weight: 600; }

h5 {
  font-family: "Soleil", Helvetica, Arial, sans-serif; }

i {
  margin: 0px 7px 0px 2px; }

.errors {
  color: #e54e40;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

.selected {
  box-shadow: inset 1px 1px 0 1px #0081c2, inset -1px 1px 0 1px #0081c2, inset 0 -2px 0 0 #0081c2; }

.home-content {
  padding: 60px 40px 0;
  margin: auto;
  width: 60%;
  margin: 0 auto; }

.home-content-header > h1 {
  font-size: 56px;
  line-height: 70px;
  padding: 0 0 10px; }

.home-content-header > h5 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  padding-bottom: 20px; }

.home-content-body {
  display: flex;
  align-items: center; }

.home-content-header {
  padding: 0 0 80px;
  text-align: -webkit-center; }
  .home-content-header a {
    font-family: "Soleil", Helvetica, Arial, sans-serif; }

.home-content-header button {
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 16px 80px;
  display: block; }

.main-cta {
  padding-bottom: 10px; }

.login-alt-cta {
  text-decoration: underline; }

.hero-image-container {
  float: left;
  height: auto;
  max-width: 100%;
  width: auto; }

.home-content-sidebar {
  float: right;
  min-width: 240px; }
  .home-content-sidebar p {
    font-family: "Soleil", Helvetica, Arial, sans-serif; }

.home-content-sidebar div {
  padding: 0 0 20px; }

h4 {
  padding: 0 0 10px;
  font-size: 18px; }

p {
  font-size: 16px; }

.home-content-header a {
  font-size: 18px; }

.home-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  width: 60%;
  margin: 0 auto; }

.home-nav-logo {
  display: block;
  width: 175px;
  height: 40px; }

.home-nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Soleil", Helvetica, Arial, sans-serif; }

#home-nav-demo > button {
  border: 2px solid #00a82d;
  background-color: #fff;
  color: #00a82d;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 30px;
  text-align: center;
  letter-spacing: 1.5px;
  transition: .3s background-color ease-in-out; }

#home-nav-demo > button:hover {
  color: #00cc36;
  border-color: #00cc36; }

.home-nav-bottoms > p {
  padding-right: 10px; }

.home-nav-login {
  padding-right: 20px; }

.session-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-session-form {
  background-color: #fff;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  width: 314px;
  margin-bottom: 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
  border: 0;
  border-radius: 3px; }
  .main-session-form h1 {
    font-size: 56px;
    line-height: 70px;
    font-family: serif; }
  .main-session-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    text-align: start;
    transition: .1s border ease-in-out; }
  .main-session-form input:focus {
    border: 1px solid #00cc3627; }
  .main-session-form p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding-bottom: 10px; }
  .main-session-form .form-submit-container {
    padding-top: 10px; }
  .main-session-form .form-submit {
    padding: 14px 0;
    display: block;
    width: 100%; }
  .main-session-form .form-submit:hover {
    background-color: #008f26; }

.form-alt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #737373;
  margin-top: 37px; }
  .form-alt .form-alt-text {
    font-size: 14px; }
  .form-alt .form-alt-link {
    color: #00a82d;
    padding: 8px; }
  .form-alt p {
    color: #737373;
    padding: 8px 0; }

.line {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ababab;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  margin-bottom: 18px;
  margin-top: 17px; }

.line > div {
  padding: 3px; }

.line::before, .line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #d4d3d3; }

#session-demo > button {
  width: 100%;
  border: 1px solid #e6e6e6;
  max-width: 280px;
  padding: 11px 16px;
  border-radius: 7px;
  align-self: center;
  font-size: 15px;
  color: #6a6a6a;
  text-align: center;
  cursor: pointer;
  background-color: #fff; }

#session-demo > button:hover {
  background-color: #f2f2f2; }

.not-found {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .not-found h1 {
    font-size: 70px;
    font-weight: bolder; }
  .not-found a {
    font-size: 40px; }

.main-side-nav {
  background-color: black;
  color: #fff;
  display: grid;
  grid-template-rows: 50px 50px 60px 35px 35px 1fr 130px;
  padding-top: 15px;
  position: static;
  width: 300px;
  height: 100%;
  max-width: 400px;
  min-width: 180px;
  box-sizing: border-box; }
  .main-side-nav .nav-item-container {
    color: #a6a6a6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: grid;
    grid-template-columns: 15px 1fr;
    padding: 5px 10px 5px 14px;
    align-items: center; }
  .main-side-nav .nav-item-container a:hover {
    color: #fff; }
  .main-side-nav .main-nav-links {
    list-style: none;
    align-items: center; }
  .main-side-nav .nav-item-container > button {
    background-color: transparent;
    color: #a6a6a6; }
  .main-side-nav .nav-notebook-list {
    grid-column: 2 / -1;
    list-style: none;
    font-size: 13px;
    color: #a6a6a6;
    padding-top: 5px; }
  .main-side-nav .nav-notebook-list li {
    line-height: 30px;
    padding: 0 8px 0 30px;
    width: 100%; }
  .main-side-nav .nav-item-container:hover, .main-side-nav .nav-hover-notebook:hover {
    border: 0;
    background-color: rgba(255, 255, 255, 0.2); }
  .main-side-nav .main-nav-links .selected {
    background-color: rgba(255, 255, 255, 0.2); }
  .main-side-nav .nav-search {
    padding-left: 10px; }
  .main-side-nav .nav-search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    width: 95%; }
    .main-side-nav .nav-search-bar i {
      color: #737373; }
  .main-side-nav .new-note-button-container {
    padding-left: 10px; }
  .main-side-nav .new-note-button {
    display: flex;
    align-items: center;
    background-color: #00a82d;
    border-radius: 20px;
    padding: 10px;
    width: 95%;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: .3s background-color ease-in-out; }
  .main-side-nav .new-note-button:hover {
    background-color: #008f26; }

.nav-profile {
  position: relative;
  padding-left: 15px; }

.account-dropdown {
  top: 35px;
  width: 50px;
  padding: 10px; }

.account-dropdown-button {
  position: relative;
  background-color: transparent;
  border: 0;
  color: #a6a6a6;
  text-align: left;
  padding: 0;
  height: 35px;
  display: inline-flex;
  align-items: center; }

.account-dropdown-button:hover {
  background-color: transparent;
  color: #f2f2f2; }

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10; }

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px; }
  .modal-child .modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
    border: 0; }
    .modal-child .modal-content .modal-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      font-size: 18px; }
  .modal-child .close-modal {
    padding: 0;
    color: #737373;
    background-color: transparent;
    transition: .2s color ease-in-out;
    transform: scale(1.4, 1.4);
    font-weight: 300; }
  .modal-child .close-modal:hover {
    color: black;
    background-color: transparent; }
  .modal-child input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f8f8f8;
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-align: start;
    transition: .1s border ease-in-out; }
  .modal-child input:focus {
    border: 1px solid #7171c4; }
  .modal-child .input-label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: #737373;
    margin: 0 0 5px; }
  .modal-child .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f8f8f8; }
    .modal-child .modal-buttons .cancel-button {
      background-color: #fff;
      color: #737373;
      border: 1px solid #737373;
      transition: .1s background-color ease-in-out; }
    .modal-child .modal-buttons .cancel-button:hover {
      background-color: #f3f3f3; }
  .modal-child button {
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    margin-left: 10px; }
  .modal-child p {
    padding-bottom: 20px;
    color: #737373;
    font-family: "Soleil", Helvetica, Arial, sans-serif; }
  .modal-child .delete-button {
    background-color: #e54e40; }

.main-app-container {
  display: grid;
  grid-template-columns: 300px 425px 1fr;
  height: 100vh; }

.notebook-index-container {
  background-color: #fff;
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: 80px 45px 50px 1fr;
  grid-template-columns: minmax(190px, 2fr) repeat(2, minmax(80px, 300px)) 1fr;
  align-items: center;
  padding: 10px 35px;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  .notebook-index-container .notebook-index-header {
    grid-row: 1 / 2;
    font-size: 20px; }
  .notebook-index-container .notebook-index-header-2 {
    grid-row: 2 / 3;
    font-size: 15px; }
  .notebook-index-container .new-notebook {
    grid-column-end: -1;
    grid-row: 2;
    justify-self: end; }
  .notebook-index-container .new-notebook > button {
    background-color: transparent;
    color: #00a82d;
    letter-spacing: normal;
    transition: .2s color ease-in-out; }
  .notebook-index-container .new-notebook > button:hover {
    color: #008f26; }
  .notebook-index-container .notebook-index-col-header {
    grid-row: 3 / 4;
    color: #a6a6a6;
    border-top: 2px solid #737373;
    padding: 10px 0;
    font-size: 12px;
    background-color: #f3f3f3; }
  .notebook-index-container .notebook-index-col-header.action {
    text-align: end;
    padding-right: 10px; }
  .notebook-index-container .notebooks-list {
    grid-row: 4;
    grid-column: 1 / -1;
    align-self: start; }
  .notebook-index-container .notebooks-list {
    grid-row: 4;
    grid-column: 1 / -1;
    align-self: start;
    margin-top: -5px; }
  .notebook-index-container .notebooks-list > ul > li {
    font-size: 14px;
    color: #313131;
    background-color: #fff; }
  .notebook-index-container .notebook-item-text {
    display: grid;
    grid-template-columns: minmax(190px, 2fr) repeat(2, minmax(80px, 300px)) 1fr;
    line-height: 35px; }
  .notebook-index-container .notebook-actions-dropdown {
    text-align: end;
    padding-right: 10px; }

.notebook-title {
  padding-left: 10px; }

.notebook-title > button {
  background-color: transparent;
  color: #313131; }

.notebook-title h5 {
  padding-left: 10px; }

.hidden {
  display: none; }

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 10px 15px 10px 10px;
  width: 180px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
  border: 0; }

.dropdown li > button {
  background-color: transparent;
  color: black;
  text-align: left;
  width: 100%;
  padding: 0 0 0 5px;
  margin-right: 15px; }

.dropdown li > button:hover {
  background-color: #f2f2f2; }

.actions-dropdown-button {
  background: transparent;
  color: #a6a6a6; }

.actions-dropdown-button:hover {
  background: transparent;
  color: #333; }

.dropdown-anchor {
  position: relative;
  text-align: end;
  padding-right: 5px; }

.actions-dropdown {
  right: 10px;
  top: 30px;
  min-height: 30px;
  align-items: center; }

.actions-dropdown > li {
  background-color: #fff; }

.notebook-index-notes-list-container {
  width: 100%;
  height: 100%;
  align-items: center; }

.notebook-index-notes-list-item {
  line-height: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(190px, 2fr) repeat(2, minmax(80px, 300px)) 1fr;
  align-items: center; }

.notebook-index-notes-item-name {
  padding-left: 45px; }

.notebook-index-note-list {
  width: 100%; }

.notebook-index-note-list {
  padding-right: 10px; }

.fa-caret-right {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
  background-color: transparent; }

.fa-caret-right.open {
  transform: rotate(90deg);
  transition: transform 0.2s linear; }

.notes-index-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px minmax(0, 50px) 1fr;
  text-align: left;
  background-color: #f8f8f8;
  border-right: 1px #e6e6e6 solid; }

.notes-sidebar-header {
  border-bottom: 1px #e6e6e6 solid;
  box-sizing: border-box;
  padding: 5px 25px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center; }

.notes-sidebar-header > h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px; }

.notes-sidebar-header > h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #a6a6a6;
  font-size: 14px; }

.notes-sidebar-container {
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: repeat(auto-fit, 120px);
  overflow: auto; }

.notes-list-item-container {
  padding-right: 12px; }

.sidebar-note-grid {
  display: grid;
  grid-template-rows: 30px 40px 20px;
  max-height: 100%; }

.notes-list-item {
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px #e6e6e6 solid;
  border-radius: 0;
  padding: 15px 25px;
  width: 100%;
  background-color: transparent;
  color: #333;
  transition: .1s background-color ease-in-out;
  text-align: left; }
  .notes-list-item p {
    font-weight: 300px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #737373; }
  .notes-list-item h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #333333;
    padding: 0; }
  .notes-list-item .sidebar-note-date {
    font-size: 12px;
    color: #737373; }

.notes-list-item:hover {
  color: black;
  background-color: #fff; }

.editor-container {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  height: 100vh; }
  .editor-container .editor-header {
    align-items: center;
    padding: 0 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px #e6e6e6 solid; }
  .editor-container .editor-header > h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #7a8083; }

.editor-tags {
  color: #7a8083;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 25px;
  border-top: 1px #e6e6e6 solid; }

.quill-container {
  padding: 24px 40px 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow-y: auto; }

.note-title-edit {
  border: 0;
  border-radius: 0;
  font-size: 2em;
  height: 40px;
  width: 100%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.note-dropdown-button {
  background-color: transparent;
  color: #7a8083;
  padding: 3px 3px 3px 6px;
  border-radius: 3px;
  grid-row: 1;
  grid-column: -1; }

.note-dropdown-button:hover {
  background-color: #f2f2f2; }

#note-dropdown {
  padding: 5px 0px 5px 5px; }

#toolbar {
  grid-column: 1 / -1;
  padding: 0;
  border: 0; }

#quill .ql-editor {
  padding: 12px 0 0;
  overflow: visible;
  height: 100%; }

#quill .ql-container {
  font-size: 15px;
  height: 100%; }

#quill .ql-container.ql-snow {
  border: 0;
  height: 100%; }

#quill .ql-editor.ql-blank::before {
  left: 0;
  right: 0; }

/*# sourceMappingURL=application.css.map */
